$color-primary: #1E3A8A;
$color-border: rgba(221, 221, 221, 0.6);

body {
    font-family: "Inter", sans-serif;
}

.container-header {
    max-width: 90vw;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid $color-border;
    .logo {
        img {
            max-height: 40px;
        }
    }
}

.nav-item {
    a {
        position: relative;
        transition: all 0.2s ease-in-out;
        padding: 0 !important;

        &.active {
            font-weight: 600;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 1px;
            background-color: $color-primary;
            left: 50%;
            bottom: 0;
            margin-bottom: -2px;
            transform: translateX(-50%);
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            color: $color-primary !important;

            &::after {
                width: 100%;
            }
        }
    }
}